//
// Scaffolding
// --------------------------------------------------


// Reset the box-sizing

*,
*:before,
*:after {
  @include box-sizing(border-box);
}


// Body reset

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
  background-color: $body-bg;
}

// Reset fonts for relevant elements
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}


// Links

a, .link {
  color: $link-color;
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 1px solid $linkDefault;
  
  &:hover,
  &:focus {
    text-decoration: none;
    border-bottom: 1px solid $linkHover;
  }

  &:focus {
    @include tab-focus();
  }
}

input::-ms-clear {
    display: none;
}

